.productDiv{
    background-image: url('../image/pexels-codioful-\(formerly-gradienta\)-7130480.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed; 
    background-size: 100% 100%;
    height: 760px;
}